<div id="{{ id | default('amzs-modal') }}" class="modal fade" tabindex="-1" aria-hidden="false">
    <!--begin::Modal dialog-->
    <div class="modal-dialog {{ modalDialogCss | default('mw-650px') }}">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    {{ icon('close') }}
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="{{ modalBodyCss | default('modal-body mx-3 mx-xl-12 pt-0 pb-5') }}">
                {% if title is not empty %}
                    <!--begin::Heading-->
                    <div class="text-center mb-13">
                        <!--begin::Title-->
                        <h1 class="mb-3">{{ title }}</h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        {% if description is defined %}
                            {{ description | raw | escape('html') }}
                        {% endif %}
                        <!--end::Description-->
                    </div>
                    <!--end::Heading-->
                {% endif %}
                <!--begin::Users-->
                <div class="mb-8">
                    {% block body %}

                    {% endblock %}
                </div>
                <!--end::Users-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

